.articles {
    background-color: $veryLightGrey;
}

.article {
    
    //&__content {

    //}

    &__grid {
        //unlike flexbox if you write display: grid just by 
        //itself with no other styles, nothing is going to
        //visibly happen because for grid we need to start
        //building a template besides writing display: grid
        display: grid;
        //since mobile display is just one column: 
        //1fr is the auto-width
        grid-template-columns: 1fr;
        gap: 1.875rem;

        

        //using media queries to change number of columns: 
        //for tablet: 
        @include breakpoint-up(medium) {
            //layout with two columns with similar width: 
            grid-template-columns: repeat(2, 1fr);
        }

        //for desktop:
        @include breakpoint-up(large) {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    &__item {
        border-radius: 0.3125rem;
        //for rounded corners: 
        overflow: hidden;
    }

    &__image {
        height: 12.5rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    &__text {
        background-color: $white;
        //we're going to start with mobile padding first:
        padding: 1.875rem 1.875rem 2.5rem 1.875rem; 
        color: $grayishBlue;


        @include breakpoint-up(medium) {
            padding: 1.875rem 1.5625rem;
        }
    }

    &__author {
        font-size: 0.625rem;
    }

    &__title {
        font-size: 1.0625rem;
        color: $darkBlue;
    }

   &__description {
        font-size: 0.8125rem;
    }


}