.feature  {
    background-color: $lightGrayishBlue;
    text-align: center;
   //block element modifier (BEM) approach to
   //writing sass styles

   @include breakpoint-up(medium) {
    text-align: left;
   }

   &__intro {
    
    margin-bottom: 3.75rem;

    @include breakpoint-up(large) {
        width: 60%;
        
    }
   }
   
   
   &__grid {
    //we are only using flexbox for desktop
    //since for mobile there is only column

    @include breakpoint-up(medium) {
        display: flex;
        flex-wrap: wrap;
    }

   }

   &__item {
    padding: 0.9375rem;
    

    //for tablet: 
    //three different flex properties in use here:
    //flex grow flex shrink and flex basis
    //if you want all the items to have same width
    //and be on the same row then flex: 1
    @include  breakpoint-up(medium) {
        flex: 0 0 50%;
    }

    @include breakpoint-up(large) {
        flex: 1;
    }
   }

   &__icon {
   
    margin-bottom: 1.875rem;

    @include breakpoint-up(large) { 
        margin-bottom: 2.75rem;
    }

   }

   &__title {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.15;
    color: $darkBlue;
    margin-bottom: 1rem;

    @include breakpoint-up(large) {
        font-size: 1rem;
        margin-bottom: 2.125rem;
    }

   }


   &__description {
    font-size: 1rem;
    line-height: 1.5;
   }


}