.footer {
    background-color: $darkBlue;
    color: $white;
    padding: 2.5rem;
    text-align: center;

    .container {
        
        @include  breakpoint-up(large) {
            display: grid;
            //first three columns are 1fr each:
            //for last column - 2fr:
            grid-template-columns: repeat(3, 1fr) 2fr;
            grid-template-rows: 1fr auto; //repeat(2, 1fr);

            //for grid-template-areas you write out the names of
            //each of the areas where you want that block to be in the grid:
            grid-template-areas: "logo links1 links2 cta"
            "social links1 links2 copyright";
            justify-items: start;
        }

    }

    a {
        color: $white;
    }

    &__logo {
        display: inline-block;
        //margin-bottom: 1.875rem;

        @include breakpoint-down(medium) {
            margin-bottom: 1.875rem;
        }

        @include breakpoint-up(large) {
            //grid-area property of logo will tell the browser
            //that the footer logo element subscribes to the
            //logo grid-template area
            grid-area: logo;
        }
    }

    &__social {

        @include breakpoint-down(medium) {
            margin-bottom: 1.875rem;
        }

        @include breakpoint-up(large) {
            grid-area: social;
            align-self: end;
        }

        //display-inline for all menu items:
        a {
            display: inline-block;
            height: 1.25rem;
        }

        a:not(:last-child) {
            display: inline-block;
            margin-right: 1rem;

        }
    }

    &__links {
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 2.25;
        font-size: 0.9375rem;
        
        //@include breakpoint-up(large) {
            //justify-content: space-between;
            //align-items: start;
            
        //}

    
        &.col1 {
            @include breakpoint-up(large) {
                grid-area: links1;
            }
        }

        &.col2 {
            @include breakpoint-down(medium) {
                margin-bottom: 1.875rem;
            }
            //margin-bottom: 1.875rem;

            @include breakpoint-up(large) {
                grid-area: links2;
            }
        }
    }

    &__cta {

        @include breakpoint-up(large) {
            grid-area: cta;
            text-align: right;
            justify-self: end;
        }

        a.button{

            @include breakpoint-down(medium) {
                margin-bottom: 1.875rem;
            }
            //margin-bottom: 1.875rem;
        }
    }

    &__copyright {
        font-size: 0.8125rem;
        color: $grayishBlue;
        
        @include breakpoint-up(large) {
            grid-area: copyright;
            align-self: end;
            justify-self: end;
            //font-size: 0.9375rem;
        } 
    }
}